
.card img {
    transition: transform 0.3s ease; /* Transición suave */
    width: 100%; /* Asegúrate de que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.card img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}